{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appHeading({
        text: heading
      }) }}

      <p class="govuk-body">Use this service to apply for your business application.</p>

      <h2 class="govuk-heading-m">Before you start</h2>
      
      <p class="govuk-body">You'll need:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>your business name and address</li>
        <li>your contact details</li>
      </ul>

      {{ govukButton({
        text: "Start",
        href: "/applicant/name",
        isStartButton: true,
        attributes: {
          "data-testid": "start"
        }
      }) }}
    </div>
  </div>
{% endblock %}
