{% extends 'layouts/page.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/applicant/name" novalidate>
        {{ govukInput({
          label: {
            text: "Enter your name",
            classes: "govuk-label--l",
            isPageHeading: false
          },
          id: "applicant-name",
          name: "applicantName",
          value: applicantName,
          errorMessage: errors.applicantName and {
            text: errors.applicantName.text
          }
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-testid": "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %} 